{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container text-center p-5">
    <h1>Dashboard</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12 p-4">
            <div class="box-element p-4"">
                <a class="btn btn-outline-dark" href="{% url 'edit' %}">Edit profile</a>
                <a class="btn btn-outline-danger" href="{% url 'password_change' %}">Change password</a>
                <h4 class="p-4"" style="display: inline-block;float: right"> Hello {{ user.username }}</h4>

                <br>
                <br>

                
            </div>

            <br>

            <div class="box-element">

                <table class="table">
                    <tr>
                        <th><h5>Number of Gigs: <strong>3</strong></h5></th>
                        <th><h5>Earning: <strong>#</strong></h5></th>
                        <th>
                            <a style="float:right; margin:5px" class="btn btn-success" href="{% url 'register' %}">Create a Gig</a>
                        </th>
                    </tr>
                </table>

                <div class="gig-row">
                    <div style="flex:2"></div>
                    <div style="flex:2"><strong>Title</strong></div>
                    <div style="flex:1"><strong>Price</strong></div>
                    <div style="flex:1"><strong>Category</strong></div>
                    <div style="flex:1"><strong>Likes</strong></div>
                    <div style="flex:1"><strong>Created</strong></div>
                </div>

                  <div class="gig-row">
                    <div style="flex:2"><img src="{% static 'images/black-mug.jpg' %}" class="row-image"></div>
                    <div class="p-4" style="flex:2"><a class="nav-link text-success" href="#">Mug Design</a></div>
                    <div class="p-4" style="flex:1">MK 5000</div>
                    <div class="p-4" style="flex:1">Print on demand</div>
                    <div class="p-4" style="flex:1">4</div>
                    <div class="p-4" style="flex:1">28-05-2022</div>
                  </div>

                  <div class="gig-row">
                    <div style="flex:2"><img src="{% static 'images/tshirt.jpg' %}" class="row-image"></div>
                    <div class="p-4" style="flex:2"><a class="nav-link text-success" href="#">Custom T-shirt design</a></div>
                    <div class="p-4" style="flex:1">MK 6800</div>
                    <div class="p-4" style="flex:1">T-shirt Design</div>
                    <div class="p-4" style="flex:1">4</div>
                    <div class="p-4" style="flex:1">10-05-2022</div>
                  </div>

                  <div class="gig-row">
                    <div style="flex:2"><img src="{% static 'images/Packaging-Design.jpg' %}" class="row-image"></div>
                    <div class="p-4" style="flex:2"><a class="nav-link text-success" href="#">Product and Packaging</a></div>
                    <div class="p-4" style="flex:1">MK 10,500</div>
                    <div class="p-4" style="flex:1">Product and packaging</div>
                    <div class="p-4" style="flex:1">4</div>
                    <div class="p-4" style="flex:1">01-12-2021</div>
                  </div>

                
            </div>
        </div>
    </div>
</div>

    
{% endblock %}