{% extends "base.html" %}
{% load static %}

{% block content %}
  
    <!-- Gig detail -->
    <section class="p-5">
      <div class="container">
        <div class="row align-items-start justify-content-between">
          <div class="col-md">
            <img src="{% static 'images/coffee-mug.jpg' %}" height="90%" width="90%" class="img- d-sm-block" alt="">
          </div>
          <div class="col-md">
            <h2>Item Details</h2>
            <p>Starting at:</p>
            <h4>Mk 7500+</h4>
            <h4>Find a Designer</h4>
            <p class="">Search for any Designer according to you're degital design ideas.</p>
            <h4>Pay and get Paid</h4>
            <p>On completion of the contract with our payment system.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Gig Description -->
    <section class="text-dark p-4">
        <div class="container">
          <div class="d-sm-flex justify-content-between align-items-center">
            <div class="col-md text-center text-sm-start">
              <h3 class="md-3 mb-md-0">Description</h3>
            <p class="my-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat et sunt deleniti quibusdam
              beatae dolores natus qui dolore excepturi aperiam Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos modi cum culpa
            accusamus consequatur iure perspiciatis deserunt est vitae, qui vero natus in molestiae ut amet quo id, maxime eligendi!</p>
            </div>
            <div class="col-md">
              <form class="d-flex my-5 landing-search" role="search">
              <input class="form-control me-2" type="search" placeholder="Website, logo, t-shirt..." aria-label="Search">
              <button class="btn btn-outline-dark" type="submit">Search</button>
            </form>
            </div>
          </div>
        </div>
      </section>

    <!-- Testimonies -->
    <section class="bg-light text-dark p-5 my-5">
      <div class="container">
        <div class="d-sm-flex justify-content-between align-items-center">
          <div class="text-center text-sm-start">
            <h3 class="md-3 mb-md-0">Reviews</h3>
          <p class="my-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat et sunt deleniti quibusdam
            beatae dolores natus qui dolore excepturi aperiam"</p>
          </div>
          <div class="d-md-flex align-item-center">
            <img src="{% static 'images/pictures.png' %}" width="70%" class="rounded float-end d-none d-sm-block" alt="...">
          </div>
        </div>
      </div>
    </section>

{% endblock content %}